<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">s
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>	Prueba</title>
	
</head>
<body>
	<h1> soy la vista casa </h1>
</body>
</html>